# conda install pytorch torchvision torchaudio -c pytorch-nightly
# pip3 install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cpu
#pip3 install torch-scatter torch-sparse torch-cluster torch-spline-conv torch-geometric
# conda install -c conda-forge rdkit biopython
