# conda install pytorch torchvision torchaudio -c pytorch-nightly
# conda install -c conda-forge rdkit biopython
# conda install pytorch-scatter -c pyg
# conda install pytorch-sparse -c pyg
# conda install pytorch-cluster -c pyg
# pip install torch_geometric
# pip install torch_geometric rdkit-pypi bidirectional_cross_attention
